<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<!--    <input type="text" v-model="message">
    <p>父组件输入的内容是：{{message}}</p>
    <br>-->
    <cpn :c-message="message" @messagechange="cpnChange"/>
</div>

<template id="cpn">
    <div>
        <p>子组件收到的内容cMessage：{{cMessage}}</p>
        <!--<input type="text" v-model="dMessage">-->
        <input type="text" :value="dMessage" @input="messageInput">
        <p>子组件收到的内容dMessage：{{dMessage}}</p>
    </div>
</template>
<script src="../js/vue.js"></script>
<script>
    const cpn = {
        template: '#cpn',
        props: {
            cMessage:{
                type: String,
                default() {
                    return undefined;
                }
            }
        },
        data() {
            return{
                dMessage: this.cMessage
            }
        },
        methods: {
            messageInput(event){
                this.dMessage = event.target.value
                this.$emit('messagechange',this.dMessage)
            }
        },
        watch: {
            dMessage(val1,val2) {
                console.info('val1',val1)
                console.info('val2',val2)
            }
        }
    }
    const app = new Vue({
        el: '#app',
        data: {
            message: 'hello'
        },
        components: {
            cpn
        },
        methods: {
            cpnChange(value){
                this.message = value
            }
        }
    })
</script>
</body>
</html>